
            <div class="modal-content modalContenedorLegal">
                  <button type="button" class="close botonCerrar" (click)="bsModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <img class="logoFooter" src="assets/img/imagenes_comunes/logo/gvc_logo.svg" alt="">
                  <div class="modalContenedorLegal_texto">
                        <h1>{{ 'FooterComponent.InformacionLegal' | translate }}</h1>
                        <br>
                        <h2><strong>{{ 'FooterComponent.Legalp1' | translate }}</strong></h2>
                        <br/>
                        <p>{{ 'FooterComponent.Legalp2' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp3' | translate }}</p>
                        <br>
                        <h2><strong>{{ 'FooterComponent.Legalp4' | translate }}</strong></h2>
                        <br>
                        <p>{{ 'FooterComponent.Legalp5' | translate }}</p>
                        <br>
                        <h2><strong>{{ 'FooterComponent.Legalp6' | translate }}</strong></h2>
                        <br>
                        <p>{{ 'FooterComponent.Legalp7' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp8' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp9' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp10' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp11' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp12' | translate }}</p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp13' | translate }}</p>
                        <br>
                        <p><strong>{{ 'FooterComponent.Legalp14' | translate }}</strong></p>
                        <br>
                        <p>{{ 'FooterComponent.Legalp15' | translate }}</p>
                        <br>
                  </div>
            </div>
