<div [collapse]="isCollapsed5" >
<div class="onboardingScreen" id="onboarding">
  <div class="onboarding">
    <div class="onBoardingCarousel">
      <carousel>
        <slide>
          <div class="textOnboarding"> <p>Paso 1</p> </div>
          <img  class="onboardingBg" src="assets/img/imagenes_comunes/contenido/onboarding1.gif">
        </slide>
        <slide>
          <div class="textOnboarding"> <p>Paso 2</p> </div>
          <img  class="onboardingBg" src="assets/img/imagenes_comunes/contenido/onboarding2.gif">
        </slide>
        <slide>
          <div class="textOnboarding"><p>Paso 3</p></div>
          <img  class="onboardingBg" src="assets/img/imagenes_comunes/contenido/onboarding3.gif">
        </slide>
      </carousel>
    </div>
    <div class="onboardingFooter">
      <button class="onboardingBoton" (click)="isCollapsed5 = !isCollapsed5">Quitar Tutorial</button>
    </div>
  </div>
</div>
</div>






